body{
background-color: #333;
color: silver;
font-family: Verdana, Arial, Sans-serif;
}
h1{
text-align: center;
font-size: 32px;
color: #ff0;
}
.contenedor{
width: 800px;
margin: auto;
text-align: justify;
}